#wrapper {
		width:900px;
		margin:0px auto;
		border:none;
		padding:0px;
	}

#header {
		clear:both;
		padding:0px;
		border:none;
		width:0px;
		height:60px;
	}
#content {
		margin-top:0px;
		padding-bottom:0px;
	}
#content div {	padding:0px;
		border:1px solid #bbb1;
		float:left;
	}
#content-left {
		width:5px;
	}
#content-main {
		margin-left:58px;
		width:200px;
	}
#content-right {
		margin-left:121px;
		width:0px;
	}

#bottom {
		clear:both;
		padding:0px;
		border:none;
		width:0px;
		height:0px;
	}

.imagenes {
    width: 100px;
    height: 120px;
}

.imagenes img {
    float:left;
    width: 100%;
    height: auto;
}
